

nav{
   position: -webkit-sticky;
   /*position: absolute;*/
  position: sticky;
  top: 0;
  background-color: #f1f1f1;
  z-index: 500;
}



h1{
  font-family: fantasy;
  color:darkblue;
  vertical-align: center;
  font-size: 20px;
}



.boy{
text-decoration: none;
/*width: 100%;*/
  background-color: white;
  color: #000;
  position: all;
  padding-right: 5;
  font-family: fantansy!important;
  padding: 14px 16px;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #f1f1f1;
  top:0;


}

.boy:hover{
  background-color: #555;
  color: white;
}



h4{
  font-family: fantasy;
/*  font-size: 25px;*/
  color:black;
}

.Tilt{
  background-color: #f1f1f1;
  
}


@media (max-width: 480px){
 .SBox2{
    display: flex;
    margin-top: 2%!important; 
    margin-bottom: 10%;
    margin-right: 20%!important; 
    width: 100%;
    
    
  }
}



