.SignIn{
	background: linear-gradient(89deg, #ff5edf 0%, #04c8DE 100%);
	margin-bottom: 0;
	padding:0px 0px 0px 0px;
	margin-top: 0;
	margin: 0px 0px 0px 0px;
	height: auto;
}
.SignInHeader{
	margin-bottom: 0;
	padding:0;
	margin-top: 0;
	width: 100;

	
	padding:0px 0px 0px 0px;
	background-size: cover;
	margin: 25px 0px 0px 0px;

}

div .hero{
width: 20%;
height: 10%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

.hero{
	display: inline-block;
	/*margin-left: auto;
	margin-right: auto;*/
	

}

.herotxx{
	text-align: center;
	padding: 0.5px 0.5px;

}
.hero img{
	width: 100%;
	
	height: auto;
}

span{
	padding-right: 20px;
}
h2{
	text-align: center;
	color: coral;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: fantasy;
    font-size: 30px;
}

